<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">

      <!-- below the query params was 
      [queryParams]="{allowEdit:1}"
    now updated to [queryParams]="{allowEdit:server.id === 3 ? '1' : '0' }" -->
      <a 
      [routerLink]="['/servers', server.id]" 
      [queryParams]="{allowEdit:server.id === 3 ? '1' : '0' }"
      fragment="loading"
      class="list-group-item" 
      *ngFor="let server of servers">
        {{ server.name }}
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- <a routerLink="servers">Router Link</a>  - relative path - the path is appended to root path (i.e the main component e.g now path is servers/servers which is no exist )    -->
    <!-- <a routerLink="./servers">Router Link</a> same as above -->
    <!-- <a routerLink="../servers">Router Link</a> now it will acces the 'servers' only not servers/servers  -->

    <!-- absolute path - here by adding a /, a new routerlink refering to the path is opened (e.g servers which is already defined in the router paths will be opened)    -->
    <!-- p.s : we can hoverover the links and cen see the links at the end of the page below -->

    <!-- <a routerLink="/servers">Router Link</a> this will give error as server1 is not in the Routes  -->
    <!-- this will give error as server1 is not in the Routes  -->
    <!-- <a routerLink="/servers1">Router Link</a>  -->

    <!-- if we add a child router then except adding router outlet in parent i.e AppComponent.html we also
    need to add another outlet inside the componnet whose child component we need to access -->
    <router-outlet></router-outlet>
    <!-- <app-edit-server></app-edit-server> -->
    <hr>
    <!-- because the value in geteServer() in serverComponet has now been dynamic and its value is not defined yet
    so we are getting the error that valu is undefined so we need to commet out this-->
    <!-- <app-server></app-server> -->
  </div>
</div>